<h1>Contact List</h1>
<div class="stats"><h3>All valid contacts: </h3><h3 class="statnum"> <%= @contacts.length %></h3></div>
<div class="stats"><h3>Invalid contacts(missing values): </h3><h3 class="statnum"> <%= @invalidcontacts.length %></h3></div>
<div class="stats"><h3>Unique contacts:</h3><h3 class="statnum"> <%= @uniquecontacts.length%></h3></div>
<div class="stats"><h3>Total entries: </h3><h3 class="statnum"> <%= @allcontacts.length %></h3></div>
<div class="stats"><h3>Total duplicates: </h3><h3 class="statnum"> <%= @duplicates.length %></h3></div>
<table>
<thead class="tbl-header">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th id="email">E-Mail</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Province/State</th>
        <th>Country</th>
        <th>Postal Code/Zip Code</th>
        <th>Date Added</th>
        <th>Found through</th>
        <th>Budget</th>
        <th>Favorite Color</th>
    </tr>
</thead>
<% @uniquecontacts.each do |contact| %>
    <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td id="email"><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.address_line_1 %></td>
        <td><%= contact.province %></td>
        <td><%= contact.country_name %></td>
        <td><%= contact.postcode %></td>
        <td><%= (contact.date_added).strftime("%B %d, %Y") %></td>
        <td><%= contact.how_did_you_hear_about_us %></td>
        <td><%= contact.what_is_your_budget %></td>
        <td><%= contact.what_is_your_favourite_color %></td>
    </tr>
<% end %>
</table>
